rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ScrollTest/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /DropIngredient/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /DropIngredient/{parent}/ingredient/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/ingredient/{document} {
      allow read: if true;
    }

  }
}
